<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger level="DEBUG" name="com.game.shadowcircle.engine"/>
  <logger level="INFO" name="com.game.shadowcircle.memento"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>